/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Navbar styling */
#navbar {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2.5px solid #000000; */
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-menu a {
    margin-left: 1.5vw;
    text-decoration: none;
    color: #000000;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;

}
    
.navbar-menu a:hover, .navbar-links a:hover {
    opacity: 0.5;
}

.navbar-links {
    display: inline;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    margin-right: 1.5vw;
}

.navbar-links a {
    margin-left: 5.21vw;
    text-decoration: none;
    color: #000000;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;
}

#navbar-title {
    font-weight: bold;
    font-size: 1.1em;
}

.projects {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 50px;
    line-height: 0.7; /* Ensures consistent line height */
    font-size: 6vw;
    margin-left: 30px;
    float: left;
    position: fixed;
}

.projectstext {
    font-family: "halyard-text", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-right: 50px;
    line-height: 0.7; /* Ensures consistent line height */
    font-size: 1vw;
    margin-left: 25px;
    float: left;
    position: fixed;
    margin-right: 70vw;
    margin-left: 3vw;
    margin-top: 6vw;
    line-height: 1.6; 
    text-align: justify;
}

/* title animation */

.projects span {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: bottom; /* Keeps the bottom of the letter in place */
    position: relative;
}
.projects span:hover {
    transform: scaleY(0.5); /* Shrinks the letter vertically */
}

/* gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40vw;
}
.tile {
    position: relative;
    margin: 30px;
    cursor: pointer;
    overflow: hidden;
    width: 15vw;
    height: 21vw;
    transition: background-color 0.4s ease;
}
.tile img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.tile .tile-text {
    position:absolute;
    top: 8px;
    left: 15px;
    font-family: "articulat-cf", sans-serif;
    font-size: 24px;
    color: white; /* Text color */
    opacity: 0; /* Start hidden */
    transition: opacity 0.4s ease; /* Smooth text fade-in */
    z-index: 2; /* Ensure the text is above the image */
}

.description {
    position:absolute;
    top: 45px;
    left: 22px;
    font-family: "articulat-cf", sans-serif;
    font-size: 12px;
    color: white; /* Text color */
    opacity: 0; /* Start hidden */
    transition: opacity 0.4s ease; /* Smooth text fade-in */
    z-index: 2; /* Ensure the text is above the image */
}

.tile1:hover {
    background-color: #41ACF8;
}

.tile2:hover {
    background-color: #973535;
}

.tile3:hover {
    background-color: #F16EA7;
}

.tile4:hover {
    background-color: #438F7A;
}

.tile5:hover {
    background-color: #DA4023;
}

.tile6:hover {
    background-color: #EB1F32;
}

.tile7:hover {
    background-color: #74495D;
}

.tile8:hover {
    background-color: #04954F;
}

.tile9:hover {
    background-color: #FEB718;
}


.tile:hover img {
    opacity: 0;
}

.tile:hover .tile-text, .tile:hover .description {
    opacity: 1; /* Show the text */
    color: white;
}

.tile.open {
    width: 62vw;
    height: 62vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.content {
    margin-top: 100px;
}
