/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Fade-in animation for all elements except navbar */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Adjusted duration for faster fade */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navbar styling */
#navbar {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2.5px solid #000000; */
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-menu a {
    margin-left: 1.5vw;
    text-decoration: none;
    color: #000000;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;

}
    
.navbar-menu a:hover, .navbar-links a:hover {
    opacity: 0.5;
}

.navbar-links {
    display: inline;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    margin-right: 1.5vw;
}

.navbar-links a {
    margin-left: 5.21vw;
    text-decoration: none;
    color: #000000;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;
}

#navbar-title {
    font-weight: bold;
    font-size: 1.1em;
}

/* Text styling for the header */
.header-text {
    position: absolute;
    top: 8vw; /* Adjusted to overlap the images */
    left: 50%;
    transform: translateX(-50%);
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    z-index: 2; /* Ensure the text is on top of images */
    pointer-events: none; /* Allow interaction with images */
    font-size: 10vw;
    margin-left: 3vw;
}


.text {
    font-family: "halyard-text", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-right: 20vw;
    font-size: 1vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    z-index: 2; /* Ensure the text is on top of images */
    pointer-events: none; /* Allow interaction with images */
    top: 20vw;
    text-align: justify;
}

/* Container for images */
.image-container {
    display: flex;
    align-items: center;
    margin-top: 8vw; /* Give space for text overlap */
}

/* Styling for the first image */
.picture img {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-left: 22vw;
}

.picture2 {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-left: 10vw;
    margin-top: 20vw;
}

.picture2 img {
    width: 20vw;
    height: auto;
    z-index: 1;
}

/* Applying fade-in class to the images and text */
.image-container,
.header-text,
.text,
.picture img,
.picture2 img {
    opacity: 0; /* Initial state for fade-in */
    animation: fadeIn 0.5s forwards; /* Faster fade-in duration */
}
