/* smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* body styling */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* fade-in animation for all elements except navbar */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* navbar styling */
#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-menu a {
    margin-left: 1.5vw;
    text-decoration: none;
    color: #000000;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;

}
    
.navbar-menu a:hover, .navbar-links a:hover {
    opacity: 0.5;
}

.navbar-links {
    display: inline;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    margin-right: 1.5vw;
}

.navbar-links a {
    margin-left: 5.21vw;
    text-decoration: none;
    color: #000000;
    padding: 0.52vw; 
    display: inline-block; 
    transition: opacity 0.3s ease;
}

#navbar-title {
    font-weight: bold;
    font-size: 1.1em;
}

/* title */
.header-text {
    position: absolute;
    top: 8vw; 
    left: 50%;
    transform: translateX(-50%);
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    z-index: 2; 
    pointer-events: none;
    font-size: 10vw;
    margin-left: 3vw;
}

/* text */

.text {
    font-family: "halyard-text", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-right: 29vw;
    font-size: 1vw;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    color: #000000;
    z-index: 2; 
    pointer-events: none;
    top: 20vw;
    text-align: justify;
    margin-top: 0.2vw;
}

/* image 1*/

.image-container {
    display: flex;
    align-items: center;
    margin-top: 8vw;
}

.picture img {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-left: 22vw;
}

/* image 2*/

.picture2 {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-left: 8vw;
    margin-top: 20vw;
}

.picture2 img {
    width: 20vw;
    height: auto;
    z-index: 1;
}

/* fade-in to the images and text */

.image-container,
.header-text,
.text,
.picture img,
.picture2 img {
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}
