/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Navbar styling */
#navbar {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2.5px solid #000000; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 10px; 
    display: inline-block; 
    transition: opacity 0.3s ease;

}
    
.navbar-menu a:hover, .navbar-links a:hover {
    opacity: 0.5;
}

.navbar-links {
    display: inline;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-right: 30px;
}

.navbar-links a {
    margin-left: 100px;
    text-decoration: none;
    color: #000000;
    padding: 10px; 
    display: inline-block; 
    transition: opacity 0.3s ease;
}

#navbar-title {
    font-weight: bold;
    font-size: 1.1em;
}

/* title - portfolio - name */

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 280px;
    right: 0;
    color: black
}

.name {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin-right: 10px;
    text-align: right;

}

.portfolio {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin-right: 30px;
    line-height: 0.7; /* Ensures consistent line height */
    font-size: 16vw;
}

/* title animation */

.portfolio span {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: bottom; /* Keeps the bottom of the letter in place */
    position: relative;
}
.portfolio span:hover {
    transform: scaleY(0.5); /* Shrinks the letter vertically */
}

/* images auto scroll */

.scroller-wrapper {
    /* How long one slide is visible on screen (from entering screen to leaving it) */
    --scrolling-gallery-item-duration: 10s;
    /* How many items we want to see on screen at once */
    --scrolling-gallery-items-visible: 7;
    /* How many items are to scroll */
    --scrolling-gallery-items-total: 7;
    overflow-x: hidden;
    will-change: transform;
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 32px;
}

.scroller {
    animation-duration: calc(var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) * var(--scrolling-gallery-items-total));
    animation-timing-function: linear;
    animation-name: scrolling-gallery;
    animation-iteration-count: infinite;
    display: flex;
}

.scroller-container {
    /* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
    width: 100vw;
}

.scroller-item {
    flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
    /* If you want to have it continuous without any spaces, remove two lines below */
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.scroller img {
    display: block;
    height: 220px; /* sizes of the images */
    object-fit: cover;
    object-position: center;
    width: 150px; /* sizes of the images */
    transition: transform 0.3s ease;
}

/* hover image */

.scroller img:hover {
    transform: scale(1.2);
}

@keyframes scrolling-gallery {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.scroller:hover,
.scroller:focus {
    animation-play-state: paused;
}

/* Project gallery */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* adjust to different screens */

@media (max-width: 768px) {
    .scroll-image {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .scroll-image {
        width: 100px;
        height: auto;
    }
}